/* lines 3 to 53 are for the navbar */

/* remopves default margin */
body{
    margin: 0;
    background-color: #383838  !important;
}

nav .brand{
    font-weight: bold;
    padding-left: 1em;
}

/* Navbar container */
nav {
    padding-top: 1em;
    padding-bottom: 1em;
    gap: 8em;
    width: 100%;
    background-color: #1a8c1a;  /* green background */
    display: flex;
    align-items: center;
    color: white;

}

/* Main navigation links */
nav .nav-links {
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 3em;
    flex-grow: 1;  /* takes available space between brand and auth links */
}

/* Authentication links on the right */
nav .auth-links {
    padding-right: 1em;
    display: flex;
    gap: 1.5em;
}

/* All links styles */
nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

/* Hover effect for links */
nav a:hover {
    text-decoration: underline;
}


.body-forms {
    background-color: #0b2e13; /* deep eco green */
}


.alert {
    background-color: rgb(23, 78, 9);
    color: white;
}

footer{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    gap: 8em;
    width: 100%;
    height:50px;
    background-color: #1a8c1a;  /* green background */

    color: white;
}

