#tree-image{
    background-image: url("../images/environment_tree.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.card{
    background-color: #ffffff77;
    font-weight:500;
    font-size:1.7em;
    vertical-align: middle;
}
