{%  extends "website/base.html"  %}
{%  load static  %}
{% block title %}Rolsa Technologies{% endblock %}

{% block content %}


<h1 class="text-center text-bold text-light">
    Start your journey to help save the planet here!
</h1>
<div id="tree-image">
    <div class="row justify-content-around w-100">
        <div class="col-4">
            <div class="homecard p-5 my-5 mx-auto rounded-5" style="width: 16rem;">
                <a href="#">
                    <img src="{% static 'images/energy_icon.png' %}" alt="Energy">
                </a>
                Energy
            </div>
        </div>
        <div class="col-4">
            
            <div class="homecard p-5 my-5 mx-auto rounded-5" style="width: 16rem;">
                <a href="{% url 'carbon_footprint' %}">
                    <img src="{% static 'images/carbon_icon.png' %}" alt="Carbon Footprint">
                </a>
                Carbon Footprint
            </div>
        </div>
        <div class="col-4">
            <div class="homecard p-5 my-5 mx-auto rounded-5" style="width: 16rem;">
                <a href="#">
                    <img src="{% static 'images/hammer_icon.png' %}" alt="Installation">
                </a>
                Installation
            </div>
        </div>
    </div>
</div>

{% endblock %}