{%  extends 'website/base.html'  %}
{%  load static  %}
{%  load crispy_forms_tags  %}



{%  block content  %}

<br>
<div class="form-wrapper d-flex justify-content-center align-items-center">
    <div class="eco-card p-4">

    <h3 class="text-center mb-2">Welcome Back</h3>
    <p class="text-center mb-4 intro-text">
        Log in to your Rolsa Technologies account 🌱
    </p>

    <form method="POST" autocomplete="off">
        {% csrf_token %}
        {{ form|crispy }}

        <button type="submit" class="btn eco-btn w-100 mt-3 p-2">Login</button>
        
    </form>

    <p class="text-center mt-3 mb-0">
        Don't have an account?
        <a href="{% url 'register' %}">Create one</a>
    </p>

    </div>
</div>

{%  endblock  %}